*{
	margin: 0;
	padding: 0;
}

body{
	background: #e6e6e6;
}

header, .main, footer{
	width: 90%;
	margin: 20px auto;
	max-width: 1000px;
	min-width: 526px;
}

header nav{
	margin: 0 auto;
	background: #528FD5;
	overflow: hidden;
}

header nav ul{
	list-style: none;
}

header nav ul li{
	float: left;
}

header nav ul li a{
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration: none;
}

header nav ul li a:hover{
	background: #75ACEC;
}

/*----------------------------------------------------*/

.main .articles{
	width: 68.5%;
	float: left;
	margin-left: 1.5%;


}

.main .articles article{
	padding: 20px;
	background: #fff;
	margin-bottom: 20px


}


aside {

	width:30%;
	height: 5,5;
	background: 0;
	float: left;
	padding: 10px;
	box-sizing: border-box;

}	


aside img {

	width: 90%;
	height: 5,5;
	padding: 10px 10px;
	


}	





footer{
	background: #000;
	color: #fff;
	clear:both;
	padding: 10px 0;
	text-align: center;


}

p.clear {
    clear: both;
}






